body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
 
}

.hide_body{
  position: absolute;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  top: 5px;
  width: 100%;
}



.content-fb-title{
  padding: 12px;
  text-align: center;
  color: rgba(0,0,0,0.7);
  border-bottom: 0.1px solid #b6b7b9;
}

.main{
  /* border: 2px solid black; */
  padding: 10px 5px ;
}


.content-input{
  display: flex;
  flex-direction: column;
 
  height: 61px;    
  justify-content: space-around;
}
.input{
  height: 32px;
  outline: none;
  border: 2px solid #ddd;
  background-color: #f7f8fa;
  font-size: 15px;
  padding: 0px;
  font-weight: 400;

}

.button_submit{
  text-align: center;
  padding: 10px;
  border: none;
  width: 100%;
  font-weight: bold;
  margin-top: 5px;
  background-color: #5793ff;
  color: white;
  font-size: 14px;
  outline: none;
}

.forgot{
  color: #5793ff;
}

.line-or{
  margin: 20px 0px;
}

.line{
  display: flex;
  
}

.box_one,.box_two{
  width: 90%;
  padding: 0 10px;
}

.box_one{
  padding-left: 25px;
}
.box_two{
  padding-right: 25px;
}

.create_new {
  text-align: center;
  margin: 10px 0;
}

.button_create{
  text-align: center;
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: #31A24c;
  color: white;
  font-size: 15px;
  outline: none;

}

.text{
  color: #5793ff;
  text-decoration: none;
}

.lang{
  margin-left: 10px;
}

.modal_container{

  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.ok{
  border: none;
  outline: none;
  color: #5793ff!important;
  width: 100%;
  text-align: center;
  background-color: white;
  color: rgba(0,0,0,0.7);
  z-index: 100;;

  font-size: 20px;

}


.loading{
  background-color:rgba(0,0,0,0.8);
  width: 10%;
  height: 5px;
  z-index: 1;
  display: block;
}



.hideLoad{
  display: none;
 
}
.activeLink{
  color: black!important;
  text-decoration: none;
}

.main-lang{
  display: flex;
  flex-direction: column;

  height:90px ;
  justify-content: space-around;
}